*~
.coverage
.idea/
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.cache
/.python-version
/ChangeLog-spell-corrected
/Mathics_omnibus.egg-info
/__pycache__
/build
/dist
/mathics_omnibus.egg-info
/node_modules
/package-lock.json
/package.json
ChangeLog
Documents/
Homepage/
Test/
_Copies_/
_Database_/
tmp
