*~
.coverage
.idea/
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.cache
/.python-version
/Mathics_omnibus.egg-info
/__pycache__
/build
/dist
/mathics_omnibus.egg-info
ChangeLog
Documents/
Homepage/
Test/
_Copies_/
_Database_/
tmp
