IPython>=7.23.1
colorama
cython
django >= 3.2.0
ipykernel
ipywidgets
langid
llvmlite
lxml
mpmath>=1.2.1
nltk
palettable
psutil
pycountry
pydot
pyenchant
pygments>=2.4.1 # To upgrade. Required very indirectly by jupyterlab-pygments. Old version is in focal
python-dateutil
requests
requests
scikit-image
sympy>=1.8
git+https://github.com/Mathics3/mathics-core.git#egg=Mathics3
